@model CodingChallenge.Web.Models.ImageDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageHeightPx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageHeightPx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageWidthPx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageWidthPx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFormat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="List">Back to List</a>
</div>
